#footer
  padding-bottom: 20px
  border-top: 1px solid color-border
  color: color-grey
  &:before
    filter: blur(8px)
    content: ""
    position: absolute
    background: color-article-inner
    width: 100%
    height: 50px  

  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em

.footer-outer
  clearfix()
  // max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding-top: 70px 
  padding-left: 10px
